$background-row-color: #f8f8f7;
$row-cycle-border-color: #e6e7e7;
$text-small-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);

.splash-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: $background-row-color;
    background: url('/images/me.jpg') no-repeat center center;

    background-size: cover;
}

.splash-message {
    position: relative;
    padding-top: 40%;
    padding-bottom: 0;
    > h1 {
        margin: 0;
        text-shadow: $text-small-shadow;
        font-size: 5em;
    }
    > h3 {
        text-shadow: $text-small-shadow;
    }
    hr.splash-divider {
        border-top: 1px solid $background-row-color;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

}



@include media-query($on-laptop) {
    .splash-message {
        padding-bottom: 15%;
    }

    .splash-message > h1 {
        font-size: 3em;
    }

    .splash-divider {
        width: 100%;
    }
}

.row-cycle-a {
    padding: 50px 0;
    background-color: white;
}

.row-cycle-b {
    padding: 50px 0;
    background-color: $background-row-color;
    border-top: 1px solid $row-cycle-border-color;
    border-bottom: 1px solid $row-cycle-border-color;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid $row-cycle-border-color;
}

.banner {
    padding: 110px 0;
    color: $background-row-color;
    background: url('/images/bikes.jpg') no-repeat center center;
    background-size: cover;
    h2 {
        margin: 0;
        text-shadow: $text-small-shadow;
        font-size: 3em;
    }
    ul {
       margin-bottom: 0;
   }
}


@include media-query($on-laptop) {
    .banner h2 {
        margin: 0;
        text-shadow: $text-small-shadow;
        font-size: 3em;
    }
}
